/* 
 *	Theme Name: Rights for Girls 15
 *	Author:	Damon ( Elefint )
 *	Description: Child Theme of Spark15 for Rights For Girls
 *	Version: 0.1
 *	Template: Spark15 
 */

@import "brand/brand";
@import "base";
@import "components/header"; 