

/* icons */
$home: "\f015";
$twitter: "\f099";
$facebook: "\f09a";
$mail: "\f0e0";
$heart: "\f08a";
$rightarrow: "\f105";


/* graphics */
$logo: url('style/images/logo.png');
$logo_hover: url('style/images/logo_hover.png');